.btn:hover{
	background-color: green;
}

#name {

	color: #B24D44;
	font-size: 20px;

  }
.textox:hover  {
   border: 2px solid #FF00D5;
  }
.textox:focus  {
   border: solid 2px #00D43C;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.textox:active  {
   border: solid 2px #0043EB;
  }


.row{
	border-bottom: 3px solid black;
	
}

#searchResults{
vertical-align: bottom;

}

h4{
	font-size: 20px;
	margin-top: 40px
}

.bill{
	display: none;
}
body{
	
background-color: #32B26C;
}
.well, .jumbotron{
	 
	background-color: #7AFFB6;
	border-color: #FF9D93;
	border-width: 3px;
}
