.btn:hover{
	background-color: green;
}
.resultHeight{
	height: 500px;
}
#name {
  margin-left: auto;
  margin-right: auto;
	color: #B24D44;
	font-size: 20px;

  }
.textox:hover  {
   border: 2px solid #FF00D5;
  }
.textox:focus  {
   border: solid 2px #00D43C;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.textox:active  {
   border: solid 2px #0043EB;
  }


.row{
	border-bottom: 3px solid black;

	
}

img{
  margin-left: auto;
  margin-right: auto;
}

h4{
	font-size: 20px;
	margin-top: 40px
}

.bill{
	display: none;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6c6c6c;
  background-color: #060606;
  left: 50%;
}
 .jumbotron{
	 
	background-color: #7AFFB6;
	border-color: #FF9D93;
	border-width: 1px;
}
.well{
background-color: #060606; 
}




